### Datos

In [21]:
%load_ext autoreload
%autoreload 2
from util import ReadData
import pandas as pd
import yfinance as yf

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [22]:
Datos = ReadData()

In [30]:
DatosFalabella = Datos.GetDataFromYahoo('FALABELLA.SN','2019-07-01','2020-12-01','1d')

[*********************100%***********************]  1 of 1 completed

### El formato de los datos debe ser de esta forma

In [31]:
DatosFalabella

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-07-01,4401.000000,4475.000000,4380.000000,4401.000000,4401.000000,122686
2019-07-02,4370.000000,4438.000000,4370.000000,4370.000000,4370.000000,426884
2019-07-03,4430.000000,4499.299805,4351.500000,4430.000000,4430.000000,252895
2019-07-04,4425.000000,4448.000000,4401.000000,4425.000000,4425.000000,67617
2019-07-05,4430.000000,4431.000000,4354.000000,4430.000000,4430.000000,73549
...,...,...,...,...,...,...
2020-01-06,3390.000000,3394.000000,3299.899902,3390.000000,3390.000000,113081
2020-01-07,3450.000000,3495.000000,3380.000000,3450.000000,3450.000000,273437
2020-01-08,3455.899902,3520.000000,3365.100098,3455.899902,3455.899902,317642
2020-01-09,3473.000000,3495.000000,3340.000000,3473.000000,3473.000000,190868
2020-01-10,3550.000000,3589.000000,3406.000000,3550.000000,3550.000000,155770

In [34]:
data = Datos.GetDataFromYahooSeveral('2019-07-01','2020-12-01','1d','Adj Close','CENCOSUD.SN','FALABELLA.SN')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

### Asi serian los precios ajustados de cierre de Cencosud y Falabella

In [35]:
data

            CENCOSUD.SN  FALABELLA.SN
Date
2019-07-01  1350.000000   4401.000000
2019-07-02  1331.099976   4370.000000
2019-07-03  1367.000000   4430.000000
2019-07-04  1357.000000   4425.000000
2019-07-05  1340.000000   4430.000000
...                 ...           ...
2020-01-06  1035.000000   3390.000000
2020-01-07  1043.099976   3450.000000
2020-01-08  1021.000000   3455.899902
2020-01-09  1023.000000   3473.000000
2020-01-10  1047.900024   3550.000000

[130 rows x 2 columns]